@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cormorant Garamond", serif
}
.section-padding{
    padding: 50px 0;
}
.container{
    margin: auto;
    max-width: 1280px;
    padding: 0 15px;
}
img{
    width: 100%;
}
:root{
    --primary-color: #0A77FF;
    --secondary-color: #181A2A;
    --bg-color: #2a2c39;
}
header{
    padding: 25px 0;
    width: 100%;
    z-index: 999;
    transition: .5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
}
header.sticky{
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .5s;
}
.header-logo h1{
    font-size: 50px;
    cursor: pointer;
    font-weight: 600;
}
.sticky .header-logo h1{
    color: var(--secondary-color);
}
.menu-items ul li a{
    color: #858792;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    transition: .2s;
    padding: 2px 0;
}
.menu-items ul li a:hover{
    color: #fff;
}
.sticky ul li a{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    transition: .2s;
    padding: 2px 0;
}
.sticky ul li a:hover{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    transition: .2s;
    padding: 2px 0;
}
.menu-items ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s ease-in;
}
.sticky ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transition: width .3s ease-in;
}
.menu-items ul li a:hover::after{
    width: 100%;
}
.menu-items ul li a.active{
    border-bottom: 2px solid #fff;
    color: #fff;
}
.sticky ul li a.active{
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.hero-section{
    background-image: url(../src/assets/Polygon.svg);
    padding: 200px 0;
    padding-top: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-section-not{
    background-image: url(../src/assets/Hexagon.svg);
    padding: 200px 0;
    padding-top: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-section-service{
    background-image: url(../src/assets/Hexagon.svg);
    padding: 200px 0;
    padding-top: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-section-not h6, .hero-section-service h1{
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.hero-content{
    color: #fff;
    max-width: 700px;
    width: 100%;
}
.hero-content h2{
    font-size: 60px;
    font-weight:500;
}
.hero-content h1{
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
}
.hero-content h4{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.hero-content p{
    font-size: 18px;
    font-weight: 400;
}

.banner-img{
    width: 100%;
    display: none;
}
.banner-img img{
    border-radius: 50%;
    border: 5px solid #fff;
    width: 100%;
}
header .menu-cl{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}
header.sticky .menu-cl{
    color: var(--secondary-color);
}

.hire-me-head a{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    border: 1px solid #3b3d49;
    transition: all .5s ease;
    padding: 15px 40px;
    border-radius: 32.5px;
    font-weight: 500;
}
.sticky .hire-me-head a{
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.backtotop-btn{
    background: #2041ca;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}


@media only screen and (max-width: 767px){
    .maenu-res{
        position: fixed;
        top: 0;
        flex-direction: column;
        background: #fff;
        width: 100%;
        height: 100vh;
        color: var(--secondary-color);
        transition: .5s;
        padding: 50px;
        padding-top: 100px;
        z-index: -1;
    }
    .maenu-res li a{
        color: var(--secondary-color) !important;
    }
    .hero-content h2{
        font-size: 25px;
    }
    .hero-content h1{
        font-size: 42px;
        text-transform: capitalize;
    }
    .hero-content h4{
        font-size: 22px;
    }
    .hero-content p{
        font-size: 16px;
    }
    .menu-items ul li a.active{
        border-bottom: 2px solid var(--primary-color);
        color: var(--primary-color);
    }
    .header-logo h1{
        font-size: 40px;
    }
    .backtotop-btn{
        bottom: 20px;
        right: 20px;
    }

}