@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Cormorant Garamond", serif; */
}
.section-padding{
    padding: 100px 0;
}
.section-title{
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0;
    color: var(--primary-color);
}
.container{
    margin: auto;
    max-width: 1280px;
    padding: 0 15px;
}
.section-hero-title{
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color);
}
img{
    width: 100%;
}
:root{
    --primary-color: #023A62;
    --secondary-color: #101828;
    --paragraph-color: #455468;
    --bg-color: #E6EBEF;
}
.primary-btn{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    padding: 15px 40px;
    border-radius: 32.5px;
    font-weight: 500;
    background: var(--primary-color);
}
header{
    padding: 25px 0;
    width: 100%;
    z-index: 999;
    transition: .5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
}
header.sticky{
    padding: 15px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .5s;
}
.header-logo h1{
    font-size: 50px;
    cursor: pointer;
    font-weight: 700;
    color: var(--primary-color);
}
.sticky .header-logo h1{
    color: var(--primary-color);
}
.menu-items ul li a{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    transition: .2s;
    padding: 2px 0;
}
.menu-items ul li a:hover{
    color: var(--primary-color);
}

.menu-items ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width .3s ease-in;
}
.menu-items ul li a:hover::after{
    width: 100%;
}
.menu-items ul li a.active{
    border-bottom: 3px solid var(--primary-color);
    color: var(--primary-color);
}

.hero-section{
    background-image: url(../src/assets/hero-bg.png);
    padding: 100px 0;
    padding-top: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-section-not{
    background-image: url(../src/assets/hero-bg.png);
    padding: 200px 0;
    padding-top: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-section-not img{
    width: 100px;
    margin: auto;
    margin-bottom: 20px;
}
.hero-section-service{
    background-image: url(../src/assets/hero-bg.png);
    padding: 200px 0;
    padding-top: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-section-contact{
    background-image: url(../src/assets/hero-bg.png);
    padding: 200px 0;
    padding-top: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-section-about{
    background-image: url(../src/assets/hero-bg.png);
    padding: 200px 0;
    padding-top: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-content{
    max-width: 700px;
    width: 100%;
}
.hero-content h2{
    font-size: 60px;
    font-weight:500;
    color: var(--primary-color);
}
.hero-content h1{
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color);
}
.hero-content h4{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--paragraph-color);
}
.hero-content p{
    font-size: 18px;
    font-weight: 400;
}

.banner-img{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.banner-img img, .about-img img{
    border-radius: 18px;
    border: 2px solid var(--primary-color);
    width: 100%;
    max-width: 450px;
    padding: 10px;
}
header .menu-cl{
    font-size: 25px;
    font-weight: 400;
    color: var(--primary-color);
}

.backtotop-btn{
    background: var(--primary-color);
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.my_services p{
    font-size: 18px;
    font-weight: 400;
    color: var(--secondary-color);

}

.services-card{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    margin: 20px auto;
}
.single-service-card{
    padding: 70px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 18px;
}
.single-service-card img{
    width: 56px;
    height: 56px;
    margin-bottom: 40px;
}
.single-service-card h2{
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}
.single-service-card ul li{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #858792;
    font-size: 15px;
    margin-bottom: 10px;
}

.footer{
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, .1);
    background: var(--bg-color);
}
.footer p{
    color: var(--secondary-color);
    text-align: center;
    font-size: 18px;
}
.footer p a{
    color: var(--primary-color);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
}


.not_found_sec img{
    max-width: 550px;
    width: 100%;
}
.not_found_sec h5{
    font-size: 30px;
    color: #fff;
}
.not_found_sec a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    border: 1px solid #3b3d49;
    transition: all .5s ease;
    padding: 15px 30px;
    border-radius: 32.5px;
    font-weight: 500;
    color: #fff;
    margin-top: 25px;
    width: fit-content;
}

.social-links-com{
    position: fixed;
    left: 20px;
    top: 40%;
    transform: translateX(-50%);
    background: var(--primary-color);
    padding: 5px 10px;
    border-radius: 0 10px 10px 0;
    color: #fff;
}
.social-links-com ul li{
    font-size: 25px;
    margin: 15px 0;
}

.skillbar-bg{
    background: #fff;
    margin: 15px 0;
}
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    position: relative;
  }
.skills p{
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .html {width: 95%; background-color: var(--primary-color);}
  .css {width: 90%; background-color: #39A7FF;}
  .js {width: 65%; background-color: #F1C93B;}
  .react {width: 50%; background-color: #087ea4;
}
.skill-text p{
    font-size: 18px;
    font-weight: 400;
    color: var(--secondary-color);
}
.skill-text h2{
    font-size: 45px;
    font-weight: 700;
    color: var(--primary-color);
}
.about-text h2{
    color: var(--primary-color);
    font-size: 70px;
    line-height: 80px;
    font-weight: 600;
    margin-bottom: 20px;
}
.about-text h4{
    color: var(--secondary-color);
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 500;
}
.about-text p{
    color: var(--paragraph-color);
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}

.contact-details-all, .follow-me{
    padding: 32px;
    background: var(--bg-color);
    margin-bottom: 50px;
}
.contact-detail{
    background: #fff;
    border: 1px solid #ddd;
    max-width: 300px;
    width: 100%;
    margin: 15px auto;
    padding: 32px;
    border-radius: 8px;
}
.contact-title p{
    font-size: 18px;
    font-weight: 400;
    color: var(--secondary-color);
}
.contact-title h2{
    font-size: 40px;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 50px;
    margin: 20px 0;
}

.contact-form-input{
    background: var(--primary-color);
    padding: 32px;
}
.contact-form-input button{
    background: #fff;
    padding: 10px 12px;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    border-radius: 8px;
}
.contact-form-input input, .contact-form-input textarea{
    background: transparent;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
}
.contact-form-input input:focus, .contact-form-input textarea:focus{
    outline: none;
}
.form-submission-message{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #ddd;
    padding: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 500px;
    width: 80%;
}
.form-submission-message h2{
    color: var(--primary-color);
    font-size: 20px;
}
.form-submission-message h2 span{
    font-weight: 600;
}



.project-sec-main{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 20px auto;
}
.single-project{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    max-width: 390px;
}
.single-project .project-img{
    width: 100%;
    height: 350px;
    overflow: hidden;
    cursor: pointer;
}

.single-project .project-img img{
    margin-top: 0;
    transition: all 2s;
}
.single-project .project-img:hover img{
    margin-top: -100%;
}

.single-project .project-details{
    padding: 20px 10px 10px 10px;
}
.single-project .project-details h2{
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 30px;
}
.single-project .project-details p{
    font-size: 18px;
    font-weight: 400;
    color: var(--secondary-color);
}
.technology-used h3{
    font-size: 22px;
    font-weight: 600;
    color: var(--primary-color);
}
.technology-used h5{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
.technology-used ul{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
}
.technology-used ul li{
    background: var(--primary-color);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 2px 8px;
    border-radius: 3px
}
.project-details-main{
    padding: 50px 0px;
}
.project-details-main .project-head p{
    font-size: 25px;
    font-weight: 500;
}
.project-details-main .project-head .project-meta{
    margin: 20px 0;
}

.project-details-main .project-head .live-link h6{
    background: red;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}
.project-details-main .project-head .live-link h6 p{
    background: var(--primary-color);
    width: fit-content;
    color: #fff;
    padding: 8px 20px;
    border-radius: 0 50px 50px 0;
    font-weight: 600;
    font-size: 18px;
}
.project-details-main .project-head .live-link h6 a{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding-right: 15px;
}
.project-details-main .project-head .project-image{
    display: flex;
    gap: 20px;
}
.project-details-main .project-head .project-image img{
    max-width: 70%;
    border: 2px dashed var(--primary-color);
}
.project-details-main .project-head .project-image p{
    font-size: 18px;
}



@media only screen and (max-width: 900px){
    .about-text h2{
        font-size: 50px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 767px){
    .section-padding{
        padding: 60px 0;
    }
    .maenu-res{
        position: fixed;
        top: 0;
        flex-direction: column;
        background: #fff;
        width: 100%;
        height: 100vh;
        color: var(--secondary-color);
        transition: .5s;
        padding: 50px;
        padding-top: 100px;
        z-index: -1;
    }
    .maenu-res li a{
        color: var(--secondary-color);
    }
    .hero-content h2{
        font-size: 25px;
    }
    .hero-content h1{
        font-size: 42px;
        text-transform: capitalize;
    }
    .hero-content h4{
        font-size: 22px;
    }
    .hero-content p{
        font-size: 16px;
    }
    .menu-items ul li a.active{
        border-bottom: 2px solid var(--primary-color);
        color: var(--primary-color);
    }
    .header-logo h1{
        font-size: 40px;
    }
    .backtotop-btn{
        bottom: 20px;
        right: 20px;
    }
    .section-title{
        font-size: 38px;
        line-height: 50px;
    }
    .section-hero-title{
        font-size: 55px !important;
    }
    .skill-text h2 {
        font-size: 30px;
        margin-top: 10px;
    }
    .skill-text p{
        text-align: justify;
    }
    .about-text h2 {
        font-size: 42px;
        margin-bottom: 10px;
        line-height: 60px;
    }
    .about-text h4 {
        font-size: 26px;
    }
    .social-links-com{
        padding: 0px 5px;
        left: 14px;
    }
    .social-links-com ul li{
        font-size: 20px;
        margin: 15px 0;
    }
    .single-project .project-details h2 {
        font-size: 22px;
    }
    .single-project .project-details p{
        font-size: 16px;
    }
    .project-details-main .project-head .project-image img{
        max-width: 100%;
    }
    
}

